
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-regular.woff2') format('woff2'),
         url('../fonts/bebasneue-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'South';
    src: url('../fonts/SouthAmsterdamDEMO-Regular.woff2') format('woff2'),
        url('../fonts/SouthAmsterdamDEMO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




ul{
	padding: 0;
	margin: 0;
}
a{text-decoration: none;}





header{
	    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    margin: 40px 0;
}

.banner-first h2{
   font-size: 175px !important;
}
.banner.banner-first h5{
   font-size: 27px !important;
   font-family: 'MyriadPro-Regular' !important;
   max-width: 1340px;
}
.banner-second{
    display: none;
}
.banner.banner-first form{
    margin-left: 650px;
    margin-top: 30px;
}
.banner.banner-first .form-group{
    margin-bottom: 12px;
}
.banner.banner-first input{
    border: none;
    padding: 8px 20px;
    width: 450px;
    background-color: #f1f1f1;
}
.banner{
	position: relative;
	background: url("../images/bg_new.png") no-repeat 0 0/cover;
	padding: 10% 0;
	margin-bottom: 100px;
	position: relative;
}
.wheel{
  position: absolute;
    left: 0px;
    top: -120px;
    width: 36%;
 } 
 .wheel img{
    margin-left: -600px;
 }  
 .location-icon{
      position: absolute;
    left: 443px;
    top: 420px;
    width: 11%;
 }
.banner h2{
	font-size: 112px;
    font-family: 'South';
    padding-left: 650px;
}
.offer-btn span{
        color: #FA0F0C;
    font-family: 'bebas_neueregular';
    text-transform: uppercase;
    font-size: 40px;
    display: inline-block;
    padding-left: 92px;
    padding-top: 15px;
}
.banner h5{
	
    font-size: 52px;
    font-family: 'bebas_neueregular';
    padding-left:650px;
    max-width: 1200px;
}
.margin-right{
	margin-right:20px;
}
.mar-lf{
	margin-left: 10px;
}
.banner h6{
	
    font-size: 42px;
    font-family: 'South';
    padding-left: 650px;
    max-width: 1170px;
}
.pdf-of{
	padding-left: 20px;
}
.mr-left{
	margin-right: 7px;
}
.offer-btn{
	    position: relative;
    margin-left: 451px;
    z-index: 1;
    padding-left: 200px;
    margin-top: 44px;
    display: inline-block;
}
.offer-btn img{
	position: absolute;
    left: 161px;
    z-index: -1;
    top: -37px;
    width: 410px;
}
.tik-width{
	max-height: 490px;
    object-fit: cover;
    width: 100%;
}
.wdth-second{
	height: 650px;
    object-fit: cover;
    width: 100%;
}
.width-fort{
	height: 1170px;
    object-fit: cover;
    width: 100%;
}
.offer-first h2{
	text-align: center;
	    font-size: 70px;
    font-family: 'South';
    margin-bottom: 70px;
    line-height: 60px;
}
.offer-first h2 span{
	 font-family: 'MyriadPro-Regular';
	 display: block;
	     font-size: 60px;
}
.width-first{
	height: 650px;
	object-fit: cover;
	width: 100%;
}
.offer-first{
	margin-bottom: 30px;
}

.offer-first .inner,.offser-second  .inner{
	position: relative;
}

.offer-first .box1{
	    background: rgba(255,255,255,.8);
    width: 310px;
    padding: 50px 35px;
    position: absolute;
    top: 53%;
}
.offer-first a,.offser-second .box2 a,.offser-second .box5 a,.offser-second .box3 a{
	color: #FA0F0C;
	 font-family: 'bebas_neueregular';
	  font-size: 34px;
	  display: inline-block;
	  margin-top: 20px;
}
.offer-first .box1 h5,.offer-first .box2 h5,.offser-second .box2 h5,.offser-second .box5 h5,.offser-second .box3 h5{
	text-transform: uppercase;
    font-family: 'bebas_neueregular';
    font-size: 34px;
    color: #000;
}
.offer-first .box1 h5 span,.offer-first .box2 h5 span,.offser-second .box2 h5 span,.offser-second .box5 h5 span,.offser-second .box3 h5 span{
	display: block;
	font-size: 40px;
}
.offer-first .box2{
	background: rgba(255,255,255,.8);
	  width: 350px;
    padding: 30px 14px;
    position: absolute;
        top: 20%;
}


.offser-second .box2{
	background: rgba(255,255,255,.8);
	  width: 306px;
    padding: 50px 35px;
    position: absolute;
        top: 40%;
        right: 0;
        text-align: right;
}
.offser-second .box5{
	background: rgba(255,255,255,.8);
	  width: 306px;
    padding: 50px 35px;
    position: absolute;
        top: 4%;
        left: 0;
   
}
.offser-second .space-top{
  margin-top: 30px;
}

.offser-second .box3{
	background: rgba(255,255,255,.8);
	  width: 350px;
    padding: 30px 14px;
    position: absolute;
        top: 45%;
        left: 0;
}

.offer-top{
	margin-top: 200px;
    font-size: 60px;
    font-family: 'South';
    margin-bottom: 20px;	
}

.offer-form {
	    display: flex;
    max-width: 880px;
    margin: 0 auto;
}
.offer-form  .form-group{
	flex-shrink: 0;
    flex-basis: 40%;
}
.offer-form  .form-group input{
	border: 1px solid #000;
    border-radius: 0;
    height: 65px;
    padding-left: 25px;
}

.offer-form  .form-group button[type=button]{
	background-color: #FA0F0C;
    border: none;
    color: #fff;
    height: 65px;
    width: 100%;
    text-transform: uppercase;
}

.table{
        position: absolute;
    left: 220px;
    top: 240px;
    width: 20%;
}
.banner.banner-third{display: none;}
.banner.banner-third h6{
        max-width: 1461px;
}

footer {
	text-align: center;
	margin-top: 200px; 
	margin-bottom: 100px;
}
footer li{
  display: inline-block;
  margin-top: 25px;
}
footer li a{
	    font-size: 18px;
    color: #000;
    font-family: 'MyriadPro-Regular';
}

@media only screen and (min-width: 1700px) {
    .banner h2,.banner h5{padding-left: 700px;}
    .banner.banner-first form{margin-left: 700px;}
    .offer-btn{    margin-left: 500px;}

}
@media only screen and (max-width: 1410px) {
    .banner-first h2 {font-size: 120px !important;}
    .banner {padding: 5% 0;}
}
@media only screen and (max-width: 1300px) {
    .banner h2,.banner h5{padding-left: 500px;}
    .banner.banner-first form{margin-left: 500px;}
    .offer-btn{    margin-left: 310px;}

}
@media only screen and (max-width: 1050px) {
    .pdf-of {padding-left: 0;}
    .width-fort {height: auto;object-fit: cover;width: auto;}
    .tik-width {max-height: 100%;width: 100%;}
    .banner-first h2 {font-size: 85px !important;}
    .banner h2,.banner.banner-first h5,.offer-btn{padding-left: 0px;}
    .banner.banner-first form{margin-left: 0px;}
    .banner.banner-first h5 {font-size: 21px !important;max-width: 80%;}
    .offer-form{display: block;max-width: 65%;}
    .offer-form .form-group{margin-bottom: 20px;}
    .banner{padding: 10% 5%;}
    .offer-btn{margin-left: 0;width: 370px;}
    .wheel{display: none;}
    .offer-btn img{left: 0;}
    .offer-btn span{font-size: 30px;padding-left: 110px;padding-top: 15px;}
}
@media only screen and (max-width: 979px) {
    .offer-first h2{font-size: 50px;}
    .offer-first h2 span{font-size: 40px;}
    .wheel{display: none;}
    .banner h2, .banner.banner-first h5, .offer-btn{padding-left: 0;}
    .banner.banner-first form{margin-left: 0;}
    .width-fort{margin-top: 20px;}    
    .banner{    padding: 5% 6%;}
    .banner.banner-first h5{max-width: 100%;}
}
@media only screen and (max-width: 767px) {
    .banner.banner-first input{width: 100%;}
    .mar-lf {margin-left: 0;}
    .offer-first .box1 h5, .offer-first .box2 h5, .offser-second .box2 h5, .offser-second .box5 h5, .offser-second .box3 h5{font-size: 19px;}
    .offer-first .box1 h5 span, .offer-first .box2 h5 span, .offser-second .box2 h5 span, .offser-second .box5 h5 span, .offser-second .box3 h5 span{font-size:24px;}
    .offer-first a, .offser-second .box2 a, .offser-second .box5 a, .offser-second .box3 a{font-size: 25px;    margin-top: 10px;}
    .offer-top{margin-top: 50px;font-size: 46px;}
    .offer-form{max-width: 80%;}
    footer {margin-top: 60px;margin-bottom: 40px;}
    footer li a{font-size: 14px;}
    .offser-second .box3{top: 7%;}
    .banner-first h2 {font-size: 65px !important;}
    .offer-btn{width: 280px;}
    .offer-btn img{}
}